.profile-container{
    display:flex;
    align-items: center;   
    justify-content: center;
    height:10%;
    background-image: url('../../assets/Home/bg.jpg');
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-details-role{
    display: flex;
}