.header-container{
    display: flex;
    justify-content: center;
    height: 140px;
    color: var(--white);
}
.header-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    color: var(--white);
}
.header-logo{
    font-size: 50px;
    font-family: "poppins ExtraBold";
    color: var(--white);
}
.header-options{
    display: flex;
    align-items: center;
}
.header-